@using ChangeManager.Domain.Entities
@model ICollection<Register>
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<div>
    <a asp-action="AddRegister">Add new Register</a>
</div>

<div>
    <h3>Register List</h3>
    <table>
        <thead>
        <tr>
            <tH>Name</tH>
            <th>Total</th>
            <th>Edit</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <th></th>
                <td></td>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>

