@using ChangeManager.Domain.Entities
@using ChangeManager.Service.Services;
@model ICollection<Register>
@{
    ViewData["Title"] = "Register";
}


<h1>Register</h1>

<div>
    <a asp-action="AddRegister">Add new Register</a>
</div>

<div>
    <h3>Register List</h3>
    <table>
        <thead>
            <tr>
                <tH>Name</tH>
                <th>Total</th>
                <th>Edit</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>R$ @((decimal)RegisterService.TotalValue(item)/100)</td>
                    <td><a asp-action="Edit" asp-route-id="@item.Id">Edit</a>|</td>
                </tr>
            }
        </tbody>
        @{var total = Model.Aggregate<Register, int>(0, (current, register) => current + RegisterService.TotalValue(register));}

        <tfoot>
            <tr>
                <td>Total Box Values = </td>
                <th>
                    R$ @((decimal)total/100)
                </th>
                <td></td>
            </tr>
        </tfoot>
    </table>
</div>

